{% set title = "تسجيل حساب جديد" %}
{% extends "base.html" %}
{% block content %}
<section class="card narrow">
  <h2>إنشاء حساب</h2>
  <form method="post" action="/register" class="form">
    <label>اسم المستخدم</label>
    <input name="username" required minlength="3" />
    <label>الاسم الكامل (اختياري)</label>
    <input name="full_name" />
    <label>كلمة المرور</label>
    <input type="password" name="password" required minlength="6" />
    <button class="btn" type="submit">تسجيل</button>
  </form>
</section>
{% endblock %}
